config BMI160
    tristate "BMI160 IMU sensor support"
    depends on IIO
    help
      This enables support for the Bosch BMI160 sensor.

# config BMI160_SPI
#     tristate "barco BMI160 I2C driver"
#     depends on SPI
#     default m
#     help
#         If you say yes here you get support for BMI160 IMU on SPI with
#         accelerometer, gyroscope and external BMG160 magnetometer.

#         This driver can also be built as a module. If so, the module will be
#         called bmi160_spi.
