/dts-v1/;
/plugin/;

/ {
	compatible = "allwinner,sun55i-t527";
	fragment@0 {
		target = <&twi1>;
		__overlay__ {
            #address-cells = <1>;
            #size-cells = <0>;
			status = "okay";
			bmi160@69{
				compatible = "barco,bmi160";
				clock-frequency = <100000>;
				status = "okay";
				reg = <0x69>;
			};
		};
	};
};

